
<div class="container">
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"></ngx-spinner>
    <div class="mt-3 animated fadeIn">
        <h2 class="text-uppercase text-center">Empleados registrados <small class="btn-block text-muted">El listado cuenta con {{empleados.length}} registro(s)</small></h2>
        <hr>
        <div class="row">
            <div class="col-12 text-center">
                <button  [routerLink]="['/guardar-empleado']" type="button" class="btn btn-success mb-3 mr-1 text-uppercase" title="Crear empleado">
                <span class="fas fa-plus"></span> Crear Empleado</button>
                <div class="card border-light mb-3">
                    <div class="card-header">Información</div>
                    <div class="card-body text-secondary">
                    <p class="card-text text-left">A continuación, se muestran los empleados registrados en el sistema. Usted puede editar y visualizar el registro almacenado.</p>
                </div>
            </div>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                            <tr>
                                <th scope="col">Tipo de identificación</th>
                                <th scope="col">N° de identificación</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Área</th>
                                <th scope="col">País</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let empleado of empleados">
                                <td>{{empleado.tipoIdentificacionNombre}}</td>
                                <td>{{empleado.numeroIdentificacion}}</td>
                                <td>{{empleado.primerNombre}} {{empleado.otrosNombres}} {{empleado.primerApellido}} {{empleado.segundoApellido}}</td>
                                <td>{{empleado.areaNombre}}</td>
                                <td>{{empleado.paisNombre}}</td>
                                <td>{{empleado.estado ? 'Activo' : 'Inactivo'}}</td>
                                <td>{{empleado.correo}}</td>
                                <td>
                                    <button [routerLink]="['/guardar-empleado',empleado.id]"  type="button" class="btn btn-sm btn-outline-dark border-secondary" title="Editar empleado"><span class="fas fa-pen"></span><span class="sr-only">Editar empleado</span></button>
                                    <button (click)="mostrarConfirmacionEliminar(empleado)"  type="button" class="btn btn-sm btn-outline-dark border-secondary" title="Eliminar empleado"><span class="fas fa-trash"></span><span class="sr-only">Eliminar empleado</span></button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="alert alert-info text-center" *ngIf="empleados.length == 0">
                        No hay empleados registrados
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



