<div class="container">
    <div class="alert alert-danger alert" *ngIf="errores.length > 0">
        <label><strong>Corrige los errores:</strong></label>
        <ul>
            <div *ngFor="let error of errores">
                <li>
                    <p>{{error}}</p>
                </li>
            </div>
        </ul>
    </div>
    <form [formGroup]="formEmpleado" novalidate>
        <fieldset>
            <legend *ngIf="formEmpleado.value.id == null">Nuevo empleado</legend>
            <legend *ngIf="formEmpleado.value.id != null">Editar empleado</legend>
            <div class="alert alert-info">
                Todos los campos son obligatorios
            </div>
            <div class="form-row">
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="tipoIdentificacionId">Tipo de identificación</label>
                        <select id="tipoIdentificacionId" class="form-control" formControlName='tipoIdentificacionId'>
                            <option disabled selected value="null" >Seleccione tipo identificación</option>
                            <option *ngFor="let item of tiposIdentificacion" [ngValue]="item.id"> {{item.nombre}} </option>
                        </select>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="paisId">País</label>
                        <select id="paisId" class="form-control" formControlName='paisId'>
                    <option disabled selected value="null" >Seleccione país</option>
                    <option *ngFor="let item of paises" [ngValue]="item.id"> {{item.nombre}} </option>
                  </select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col col-md-12">
                    <div class="form-group">
                        <label for="numeroIdentificacion">Número identificación</label>
                        <input type="text" class="form-control" placeholder="N° identificación" formControlName='numeroIdentificacion'>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="primerNombre">Primer Nombre</label>
                        <input type="text" class="form-control" placeholder="Ingrese primer nombre" formControlName='primerNombre'>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="otrosNombres">Otros nombres(opcional)</label>
                        <input type="text" class="form-control" placeholder="Ingrese otros nombres" formControlName='otrosNombres'>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="primerApellido">Primer apellido</label>
                        <input type="text" class="form-control" placeholder="Ingrese primer apellido" formControlName='primerApellido'>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="segundoApellido">Segundo apellido</label>
                        <input type="text" class="form-control" placeholder="Ingrese segundo apellido" formControlName='segundoApellido'>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="fechaIngreso">Fecha de ingreso</label>
                        <input type="date" name="fechaIngreso" class="form-control" step="1" min="{{fechaMinima | date:'yyyy-MM-dd'}}" max="{{fechaActual | date:'yyyy-MM-dd'}}" formControlName='fechaIngreso'>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="areaId">Área</label>
                        <select id="areaId" class="form-control" formControlName='areaId'>
                            <option disabled selected value="null" >Seleccione área</option>
                            <option *ngFor="let item of areas" [ngValue]="item.id"> {{item.nombre}} </option>
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col text-center">
                <button type="button" [routerLink]="['/empleados']" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="guardarEmpleado()" [disabled]="!formEmpleado.valid" class="btn btn-success">Guardar</button>
            </div>

        </div>
    </form>
</div>




